.table {
    margin-top: 20px;
    border-color: beige;
}

.tr1 {
    background-color: rgb(18, 122, 186);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifd;
}

.tr2 {
    background-color: rgba(183, 227, 237, 0.949);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tr3 {
    background-color: whitesmoke;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tr4 {
    background-color: rgba(183, 227, 237, 0.949);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tr5 {
    background-color: whitesmoke;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}