body {
    margin: 0;
    padding: 0;
}

header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4.5em;

}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul li {
    margin: 0 1rem;
}

img {
    width: 5rem;
}